.about-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
}

.about-background img {
  width: 300px;
  height: 300px;
  border-radius: 70px;
}

.about-profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 150px;
}

.about-profile__text {
  font-family: 'Quantico', sans-serif;
  font-size: 80px;
  margin-bottom: 20px;
}

.profile-list {
  font-family: 'Quantico', sans-serif;
  font-size: 30px;
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 400;
}

.profile-list li {
  margin: 10px;
}

.icon-link a {
  font-family: 'Pacifico', cursive;
  margin-left: 20px;
  font-size: 35px;
}

.icon-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  bottom: 0;
  position: fixed;
  margin-bottom: 20px;
}

.right {
  margin-right: 30px;
}
.left {
  margin-left: 15px;
  font-size: 20px;
}
